/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-image: url('https://images.unsplash.com/photo-1523233233-a7d7229c7fbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');
    color: rgb(247, 239, 239);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    margin:13px;
}
.row{
    margin-top: 43px;
}
.span{
    font-size: 27px;
}